<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
    <add name="HateksPurchasingEntities" connectionString="metadata=res://*/test.csdl|res://*/test.ssdl|res://*/test.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMREHAMURCU\SQLEXPRESS;initial catalog=HateksPurchasing;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="DepoQrEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMREHAMURCU\SQLEXPRESS;initial catalog=DepoQr;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        providerName="System.Data.EntityClient" />
    <add name="HateksPurchasing.Properties.Settings.HateksPurchasingConnectionString"
        connectionString="Data Source=EMREHAMURCU\SQLEXPRESS;Initial Catalog=HateksPurchasing;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings></configuration>